<!DOCTYPE html>
<html>
  <head>
    <title>TraseContent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
  <script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
      var data = $('textarea');
      $.each(data, function(i) {
        CKEDITOR.replace(data[i].id);
      });
    }
  });</script>
</html>
